@model PharmacyChain.Models.Supplier

@{
    ViewData["Title"] = "Деталі постачальника";
}

<h2>Деталі постачальника</h2>

<table class="table table-bordered">
    <tr>
        <th>Назва</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Телефон</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>Адреса</th>
        <td>@Model.Address</td>
    </tr>
</table>

<p>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a>
    <a class="btn btn-secondary" asp-action="Index">Назад</a>
</p>
