@model IEnumerable<PharmacyChain.Models.Drug>

@{
    ViewData["Title"] = "Препарати";
}

<h2>Препарати</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Додати препарат</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Категорія</th>
            <th>Виробник</th>
            <th>Рецепт?</th>
            <th>Поріг замовлення</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category</td>
                <td>@item.Manufacturer</td>
                <td>@(item.PrescriptionRequired ? "Так" : "Ні")</td>
                <td>@item.ReorderLevel</td>

                <td>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
